@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.result .item{
    padding: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    margin-inline: auto;
    gap: 2rem;
}

.newUrl-btn,
.delete-btn{
    padding: .5rem 1rem;
    border: .2rem;
    border-radius: 10%;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.fade-in{
    opacity: 1;
}